.categories {
  
  &__container {
    display: flex;
    flex-wrap: wrap;
    
    @include atLarge {
      
    }
  }

  &__text {
    font-size: 1.81rem;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    transform: translate3d(40px, 40px, 0);
    color: white;
    max-width: 260px;
  }
  
  &__block-start {
    width: 100%;
    
    @include atLarge {
      width: auto;
      flex-basis: 360px;
      height: 660px;
      margin: 0 30px 0 0;
    }
  }

  &__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    @include atLarge {
      width: auto;
      flex-grow: 2;
    }
  }
  
  &__block {
    width: 100%;
    
    @include atLarge {
      width: auto;
      height: 315px;
      flex-basis: 360px;
      
      &:nth-child(1) {
        flex-grow: 2;
        margin: 0 15px 15px 0;
      }
      
      &:nth-child(2) {
        margin: 0 0 15px 15px;
      }
      
      &:nth-child(3) {
        margin: 15px 15px 0 0;
      }
      
      &:nth-child(4) {
        flex-grow: 2;
        margin: 15px 0 0 15px;
      }
    }
  }
}