.featured {
  margin-bottom: 90px;
  z-index: 1;

  &__container {
    padding: 58px 78px 0 78px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 300px;
  }

  &__subtitle {
    padding-bottom: 12px;
  }

  &__title {
    padding-bottom: 10px;
  }
}