$linework-transition: all .2s ease;

.linework {
    position: absolute;

    &__story {
        position: relative;
        height: 100%;
        width: 100%;
        border-right: 0.5px solid $text-subtitle-color;

        &::before {
            position: absolute;
            height: 1px;
            width: 100%;
            content: '';
            top: 50%;
            background: $text-subtitle-color; 
        }
    }

    &__menu {
        width: 26px;
        height: 18px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        transition: $linework-transition;
        
        &:hover {
            cursor: pointer;
        }
        
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            height: 1px;
            width: 20px;
            background: #000;
            transition: $linework-transition;
        }
        
        &:hover::after {
            width: 26px;
        }
    }

    &__menu--white {
        width: 26px;
        height: 19px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transition: $linework-transition;
        
        &:hover {
            cursor: pointer;
        }
        
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            height: 1px;
            width: 20px;
            background: white;
            transition: $linework-transition;
        }
                
        &:hover::after {
            width: 26px;
        }
    }
}