.navigation {
    @include hidden;
    
    @include atCustom(930px) {
        @include visible;
        width: 100%;
        min-width: 560px;
        max-width: 660px;
        margin: 0 35px 0 35px;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        position: relative;
        font-size: 0.81rem;
        color: $text-subtitle-color;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        transition: $transition-ease;
    }

    &__link:hover {
        color: #FFFFFF;

        &::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 100%;
            max-width: 0;
            height: 1.5px;
            background: $primary-color;
            animation: growLeft 5s ease-out;
        }
    }
}

@keyframes growLeft {
    100% {
        max-width: 1000px;
    }
}